@use "@styles/func";

.wrapper {
  position: relative;
  border: 1px solid func.color(card-border);
  border-radius: func.radius(md);
  overflow: hidden;
  height: 100%;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
