@use "@styles/func";
@use "@styles/mixins";

.nav {}

.navList {
  display: flex;
  align-items: center;
  gap: func.space(4);

  list-style: none;
}

.listItem {}

.navLink {
  @include mixins.typo(small);
  @include mixins.trans(color);

  text-decoration: none;
  color: func.color(accent-orange);
  font-weight: 500;

  &:hover {
    color: func.color(accent-red);
  }
}

.navLinkActive {
  color: func.color(accent-blue);
}
